@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* default css */
html {
    scroll-behavior: smooth;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    appearance: textfield; /* For modern browsers */
    -webkit-appearance: textfield; /* For Safari and older versions of Chrome */
    -moz-appearance: textfield; /* For Firefox */
}

:root {
    --reference-width: 1920;
    --reference-height: 1080;
}

img {
    max-width: 100%;
    height: auto;
}

.hero-heading {
    font-size: calc(86 * 1vw / (var(--reference-width) / 100));
    line-height: calc(89 * 1vw / (var(--reference-width) / 100));
}
.hero-sub-heading {
    font-size: calc(26 * 1vw / (var(--reference-width) / 100));
    line-height: calc(29 * 1vw / (var(--reference-width) / 100));
}
.hero-input-text {
    font-size: calc(20 * 1vw / (var(--reference-width) / 100));
}
.nav-btn-login {
    font-size: calc(16 * 1vw / (var(--reference-width) / 100));
    width: calc(100 * 1vw / (var(--reference-width) / 100));
    height: calc(60 * 1vw / (var(--reference-width) / 100));
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-btn {
    font-size: calc(16 * 1vw / (var(--reference-width) / 100));
    width: calc(187 * 1vw / (var(--reference-width) / 100));
    height: calc(60 * 1vw / (var(--reference-width) / 100));
}
.merchant-heading {
    font-size: calc(84 * 1vw / (var(--reference-width) / 100));
}
.card-title {
    font-size: calc(38 * 1vw / (var(--reference-width) / 100));
    line-height: calc(41 * 1vw / (var(--reference-width) / 100));
}
.footer-heading {
    font-size: calc(86 * 1vw / (var(--reference-width) / 100));
    line-height: calc(89 * 1vw / (var(--reference-width) / 100));
}
.merchant-btn-txt {
    font-size: calc(20 * 1vw / (var(--reference-width) / 100));
}
.social-img-hw {
    height: calc(105 * 0.9vw / (var(--reference-width) / 100));
    width: calc(105 * 0.9vw / (var(--reference-width) / 100));
}
.footer-btn {
    padding-left: calc(50 * 1vw / (var(--reference-width) / 100));
    padding-right: calc(50 * 1vw / (var(--reference-width) / 100));
    padding-top: calc(30 * 1vw / (var(--reference-width) / 100));
    padding-bottom: calc(30 * 1vw / (var(--reference-width) / 100));
    font-size: calc(26 * 1vw / (var(--reference-width) / 100));
}
.px {
    padding: 0 calc(144 * 1vw / (var(--reference-width) / 100));
}
.payment-heading {
    font-size: calc(78 * 1vw / (var(--reference-width) / 100));
    line-height: calc(68 * 1vw / (var(--reference-width) / 100));
}
.payment-p-heading {
    font-size: calc(26 * 1vw / (var(--reference-width) / 100));
    line-height: calc(25 * 1vw / (var(--reference-width) / 100));
}
.image-width {
    width: calc(584 * 1vw / (var(--reference-width) / 100));
}
.nav-p {
    padding-bottom: calc(15 * 1vw / (var(--reference-width) / 100));
    padding-top: calc(15 * 1vw / (var(--reference-width) / 100));
    padding-right: calc(23 * 1vw / (var(--reference-width) / 100));
    padding-left: calc(23 * 1vw / (var(--reference-width) / 100));
}
.claim-btn {
    padding-bottom: calc(25 * 1vw / (var(--reference-width) / 100));
    padding-top: calc(25 * 1vw / (var(--reference-width) / 100));
    padding-right: calc(35 * 1vw / (var(--reference-width) / 100));
    padding-left: calc(35 * 1vw / (var(--reference-width) / 100));
}
.nav-item-w {
    font-size: calc(20 * 1vw / (var(--reference-width) / 100));
}
.nav-brand-fs {
    font-size: calc(30 * 1vw / (var(--reference-width) / 100));
    line-height: calc(28 * 1vw / (var(--reference-width) / 100));
}
.input-p {
    padding-bottom: calc(30 * 1vw / (var(--reference-width) / 100));
    padding-top: calc(30 * 1vw / (var(--reference-width) / 100));
    padding-right: calc(310 * 0.7vw / (var(--reference-width) / 100));
    padding-left: calc(25 * 1vw / (var(--reference-width) / 100));
    outline: none;
}
.input-btn-inside {
    padding-bottom: calc(25 * 1vw / (var(--reference-width) / 100));
    padding-top: calc(25 * 1vw / (var(--reference-width) / 100));
    padding-right: calc(23 * 1vw / (var(--reference-width) / 100));
    padding-left: calc(23 * 1vw / (var(--reference-width) / 100));
    top: calc(5 * 1vw / (var(--reference-width) / 100));
    font-weight: 900;
}
.overlay-w {
    width: calc(379 * 2vw / (var(--reference-width) / 100));
}

.product-img-w {
    width: calc(467 * 1vw / (var(--reference-width) / 100));
}

@media (orientation: portrait) {
    :root {
        --reference-width: 428;
        --reference-height: 926;
    }
    .claim-btn {
        padding-bottom: calc(25 * 0.6vw / (var(--reference-width) / 100));
        padding-top: calc(25 * 0.6vw / (var(--reference-width) / 100));
        padding-right: calc(35 * 0.6vw / (var(--reference-width) / 100));
        padding-left: calc(35 * 0.6vw / (var(--reference-width) / 100));
    }
    .hero-heading {
        font-size: calc(86 * 0.4vw / (var(--reference-width) / 100));
        line-height: calc(89 * 0.4vw / (var(--reference-width) / 100));
    }
    .hero-sub-heading {
        font-size: calc(26 * 0.4vw / (var(--reference-width) / 100));
        line-height: calc(29 * 0.4vw / (var(--reference-width) / 100));
    }
    .hero-input-text {
        font-size: calc(20 * 0.6vw / (var(--reference-width) / 100));
    }
    .nav-btn-login {
        font-size: calc(20 * 0.5vw / (var(--reference-width) / 100));
        width: calc(100 * 0.5vw / (var(--reference-width) / 100));
        height: calc(70 * 0.5vw / (var(--reference-width) / 100));
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .nav-btn {
        font-size: calc(20 * 0.5vw / (var(--reference-width) / 100));
        width: calc(200 * 0.6vw / (var(--reference-width) / 100));
        height: calc(70 * 0.5vw / (var(--reference-width) / 100));
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .merchant-heading {
        font-size: calc(84 * 0.4vw / (var(--reference-width) / 100));
    }
    .card-title {
        font-size: calc(38 * 0.4vw / (var(--reference-width) / 100));
        line-height: calc(41 * 0.4vw / (var(--reference-width) / 100));
    }
    .footer-heading {
        font-size: calc(86 * 0.4vw / (var(--reference-width) / 100));
        line-height: calc(89 * 0.4vw / (var(--reference-width) / 100));
    }
    .merchant-btn-txt {
        font-size: calc(20 * 0.6vw / (var(--reference-width) / 100));
    }
    .px {
        padding: 0 calc(144 * 0vw / (var(--reference-width) / 100));
    }
    .social-img-hw {
        height: calc(105 * 0.5vw / (var(--reference-width) / 100));
        width: calc(105 * 0.5vw / (var(--reference-width) / 100));
    }
    .footer-btn {
        padding-left: calc(50 * 0.4vw / (var(--reference-width) / 100));
        padding-right: calc(50 * 0.4vw / (var(--reference-width) / 100));
        padding-top: calc(20 * 0.5vw / (var(--reference-width) / 100));
        padding-bottom: calc(20 * 0.5vw / (var(--reference-width) / 100));
        font-size: calc(26 * 0.5vw / (var(--reference-width) / 100));
    }
    .payment-heading {
        font-size: calc(86 * 0.4vw / (var(--reference-width) / 100));
        line-height: calc(89 * 0.4vw / (var(--reference-width) / 100));
    }
    .payment-p-heading {
        font-size: calc(26 * 0.5vw / (var(--reference-width) / 100));
        line-height: calc(25 * 0.5vw / (var(--reference-width) / 100));
    }
    .image-width {
        width: calc(584 * 0.7vw / (var(--reference-width) / 100));
    }
    .nav-item-w {
        font-size: calc(20 * 0.4vw / (var(--reference-width) / 100));
    }
    .nav-p {
        padding-bottom: calc(20 * 0.6vw / (var(--reference-width) / 100));
        padding-top: calc(20 * 0.6vw / (var(--reference-width) / 100));
        padding-right: calc(30 * 0.5vw / (var(--reference-width) / 100));
        padding-left: calc(30 * 0.5vw / (var(--reference-width) / 100));
    }
    .nav-brand-fs {
        font-size: calc(30 * 0.4vw / (var(--reference-width) / 100));
        line-height: calc(28 * 0.4vw / (var(--reference-width) / 100));
    }
    .input-p {
        padding-bottom: calc(43 * 0.4vw / (var(--reference-width) / 100));
        padding-top: calc(43 * 0.4vw / (var(--reference-width) / 100));
        padding-right: calc(310s * 0.4vw / (var(--reference-width) / 100));
        padding-left: calc(23 * 0.4vw / (var(--reference-width) / 100));
        outline: none;
    }
    .input-btn-inside {
        padding-bottom: calc(30 * 0.4vw / (var(--reference-width) / 100));
        padding-top: calc(30 * 0.4vw / (var(--reference-width) / 100));
        padding-right: calc(23 * 0.4vw / (var(--reference-width) / 100));
        padding-left: calc(23 * 0.4vw / (var(--reference-width) / 100));
        top: calc(10 * 0.4vw / (var(--reference-width) / 100)) !important;
        font-weight: 900;
    }
    .overlay-w {
        width: calc(379 * 1vw / (var(--reference-width) / 100));
    }
    .product-img-w {
        width: calc(467 * 0.8vw / (var(--reference-width) / 100));
    }
}
